@font-face {
  font-family: "ArialNovaCond";
  src: url("../font/ArialNovaCond.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --blck: #000;
  --grey: #d9d9d9;
}

body {
  font-family: "ArialNovaCond";

  font-size: 1rem;
}

a {
  text-decoration: none;
  color: var(--blck);
  transition: 0.3s ease;

  &:hover {
    text-decoration: underline;
  }

  &:visited,
  &:active {
    color: blueviolet;
  }
}

.margin-r-5 {
  margin-right: 5px !important;
  text-wrap: nowrap;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1400px;
  margin: auto;
  height: fit-content;
}

section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: fit-content;
}

.box-left {
  background-color: var(--grey);
  padding: 30px;
  width: 350px;
}

.box-right {
  padding: 30px 50px 30px 30px;
  position: relative;
  background-color: var(--white);
  height: 100%;

  &::after,
  &::before {
    position: absolute;
    content: "";
    background-color: var(--grey);
    right: 0;
    top: 0;
    z-index: 9999;
  }

  &::after {
    width: 40%;
    height: 30px;
  }
  &::before {
    width: 35px;
    height: 70%;
  }
}

section figure {
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: auto;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
}

.box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h1 {
  color: var(--blck);
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-style: italic;
}

.box-right h2 {
  font-style: normal;
  position: relative;
  width: fit-content;

  &::after {
    position: absolute;
    content: "";
    width: 80%;
    height: 2px;
    left: 0;
    bottom: 3px;
    background-color: var(--blck);
  }
}

.box ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box ul li,
.box ul p {
  line-height: 1.5;
  display: flex;
  width: fit-content;
}

.box ul p {
  margin-left: 53px;
  font-style: italic;
}

.box ul li figure {
  margin-right: 10px;
}

.box ul li {
  position: relative;
  padding-left: 20px;

  & .no-wrap {
    text-wrap: nowrap;
    margin-right: 5px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 50%;
    transform: translate(0, 8px);
    background-color: var(--blck);
    left: 0;
  }
}

.box .no-dot li {
  padding: 0;

  &::after {
    display: none;
  }
}

@media screen and (max-width: 828px) {
  main {
    flex-direction: column;
  }

  .box-left {
    width: 100%;
  }

  .box-right {
    &::after,
    &::before {
      display: none;
    }
  }
}

@media screen and (max-width: 400px) {
  section,
  .box-left,
  .box-right {
    padding: 20px !important;
  }

  .foto-perfil {
    width: 100%;
    max-width: 250px;
    height: auto;
  }

  .box ul .line-break {
    text-wrap: wrap;
    line-break: anywhere;
  }

  .box ul p {
    margin: 0 0 10px 0;
  }

  .margin-r-5 {
    margin-right: 5px !important;
    text-wrap: wrap;
  }
}
